
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coda&display=swap');
.main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-card{
    display: flex;
    justify-content: space-between;
    right: -50px;
}

.weather-card-child{
    font-family: ABeeZee !important;
    align-items: center;
    margin-top: 10px;

}

.weather-card-main{
    width: 400px !important;
}

.app-header{
    font-size: 25px;
    font-family: ABeeZee;
    margin: 20px;
    
}

.icon-container{
    position: relative;
    right: -95px;
}

.weather-desc{
    text-transform: capitalize;
}

.forecast-temp{
    font-family: ABeeZee !important;
}