
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coda&display=swap');
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-card{
    display: flex;
    justify-content: space-between;
    right: -50px;
}

.app-header{
    font-size: 25px;
    font-family: ABeeZee;
    margin: 20px;
}

.weather-card-child{
    font-family: ABeeZee !important;
    
}

.icon-container{
    position: relative;
    right: -75px;
}